<div class="container">
  <div class="d-flex flex flex-wrap ">


        <div class="card border-dark col-3 my-4 mx-4"  *ngFor = "let movie of movies">
          <div class="card-body">
            <div class="card-header">
               {{movie.movieName}}
            </div>
            <h6 class="card-title mt-3 text-muted">Years: {{movie.movieName}}</h6>
            <p class="card-text">{{movie.movieSynopsis}}</p>
            <a href="#" class="card-link">Update</a>
            <a href="#" class="card-link">Delete</a>
          </div>
        </div>


  </div>
</div>
